In [1]:
import os
os.getcwd()

'C:\\Users\\felix\\beontech'

In [7]:
import pandas as pd

nyc_airports = pd.read_csv('C:\\Users\\felix\\beontech\\nyc_airports.csv')
nyc_flights = pd.read_csv('C:\\Users\\felix\\beontech\\nyc_flights_fixed.csv')

In [4]:
nyc_airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   faa            1458 non-null   object
 1   name           1458 non-null   object
 2   latitude       1458 non-null   float64
 3   longitude      1458 non-null   float64
 4   altitude       1458 non-null   int64
 5   timezone       1458 non-null   int64
 6   dst            1458 non-null   object
 7   timezone_name  1458 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 91.3+ KB

In [5]:
nyc_airports.head()

,faa,name,latitude,longitude,altitude,timezone,dst,timezone_name
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

In [9]:
nyc_flights.head()

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,0,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01T10:00:00Z
1,1,2013,1,1,533,529,4,850,830,20,UA,1714,N24211,LGA,IAH,227,1416,5,29,2013-01-01T10:00:00Z
2,2,2013,1,1,542,540,2,923,850,33,AA,1141,N619AA,JFK,MIA,160,1089,5,40,2013-01-01T10:00:00Z
3,3,2013,1,1,554,600,-6,812,837,-25,DL,461,N668DN,LGA,ATL,116,762,6,0,2013-01-01T11:00:00Z
4,4,2013,1,1,554,558,-4,740,728,12,UA,1696,N39463,EWR,ORD,150,719,5,58,2013-01-01T10:00:00Z

In [11]:
destinations_ewr = nyc_flights[nyc_flights['origin'] == 'EWR']

destinations_ewr.head()

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,0,2013,1,1,517,515,2,830,819,11,UA,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01T10:00:00Z
4,4,2013,1,1,554,558,-4,740,728,12,UA,1696,N39463,EWR,ORD,150,719,5,58,2013-01-01T10:00:00Z
5,5,2013,1,1,555,600,-5,913,854,19,B6,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01T11:00:00Z
11,11,2013,1,1,558,600,-2,923,937,-14,UA,1124,N53441,EWR,SFO,361,2565,6,0,2013-01-01T11:00:00Z
13,13,2013,1,1,559,600,-1,854,902,-8,UA,1187,N76515,EWR,LAS,337,2227,6,0,2013-01-01T11:00:00Z

In [12]:
total_destinations_ewr = destinations_ewr['dest'].nunique()

print('Total Destinations Newark:', total_destinations_ewr)

Total Destinations Newark: 82

In [13]:
destinations_ewr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 113385 entries, 0 to 277969
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      113385 non-null  int64
 1   year            113385 non-null  int64
 2   month           113385 non-null  int64
 3   day             113385 non-null  int64
 4   dep_time        113385 non-null  int64
 5   sched_dep_time  113385 non-null  int64
 6   dep_delay       113385 non-null  int64
 7   arr_time        113385 non-null  int64
 8   sched_arr_time  113385 non-null  int64
 9   arr_delay       113385 non-null  int64
 10  carrier         113385 non-null  object
 11  flight          113385 non-null  int64
 12  tailnum         113385 non-null  object
 13  origin          113385 non-null  object
 14  dest            113385 non-null  object
 15  air_time        113385 non-null  int64
 16  distance        113385 non-null  int64
 17  hour            113385 non-null  int64
 18  minute          113385 non-null  int64
 19  time_hour       113385 non-null  object
dtypes: int64(15), object(5)
memory usage: 18.2+ MB

In [14]:
destinations_ewr['time_hour'] = pd.to_datetime(destinations_ewr['time_hour'])

C:\Users\felix\AppData\Local\Temp\ipykernel_28344\1445853296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  destinations_ewr['time_hour'] = pd.to_datetime(destinations_ewr['time_hour'])

In [15]:
destinations_ewr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 113385 entries, 0 to 277969
Data columns (total 20 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      113385 non-null  int64
 1   year            113385 non-null  int64
 2   month           113385 non-null  int64
 3   day             113385 non-null  int64
 4   dep_time        113385 non-null  int64
 5   sched_dep_time  113385 non-null  int64
 6   dep_delay       113385 non-null  int64
 7   arr_time        113385 non-null  int64
 8   sched_arr_time  113385 non-null  int64
 9   arr_delay       113385 non-null  int64
 10  carrier         113385 non-null  object
 11  flight          113385 non-null  int64
 12  tailnum         113385 non-null  object
 13  origin          113385 non-null  object
 14  dest            113385 non-null  object
 15  air_time        113385 non-null  int64
 16  distance        113385 non-null  int64
 17  hour            113385 non-null  int64
 18  minute          113385 non-null  int64
 19  time_hour       113385 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(15), object(4)
memory usage: 18.2+ MB

In [17]:
destinations_ewr['date'] = destinations_ewr['time_hour'].dt.normalize()

destinations_ewr.head()

C:\Users\felix\AppData\Local\Temp\ipykernel_28344\381219315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  destinations_ewr['date'] = destinations_ewr['time_hour'].dt.normalize()

,Unnamed: 0,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,...,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,date
0,0,2013,1,1,517,515,2,830,819,11,...,1545,N14228,EWR,IAH,227,1400,5,15,2013-01-01 10:00:00+00:00,2013-01-01 00:00:00+00:00
4,4,2013,1,1,554,558,-4,740,728,12,...,1696,N39463,EWR,ORD,150,719,5,58,2013-01-01 10:00:00+00:00,2013-01-01 00:00:00+00:00
5,5,2013,1,1,555,600,-5,913,854,19,...,507,N516JB,EWR,FLL,158,1065,6,0,2013-01-01 11:00:00+00:00,2013-01-01 00:00:00+00:00
11,11,2013,1,1,558,600,-2,923,937,-14,...,1124,N53441,EWR,SFO,361,2565,6,0,2013-01-01 11:00:00+00:00,2013-01-01 00:00:00+00:00
13,13,2013,1,1,559,600,-1,854,902,-8,...,1187,N76515,EWR,LAS,337,2227,6,0,2013-01-01 11:00:00+00:00,2013-01-01 00:00:00+00:00

In [19]:
destinations_by_day = destinations_ewr.groupby('day').agg({'dest': 'nunique'})

destinations_by_day.head()

     dest
day
1      77
2      80
3      77
4      77
5      79

In [21]:
mean_destinations_by_day = destinations_by_day.mean()

print(round(mean_destinations_by_day, 0))

dest    78.0
dtype: float64

In [33]:
destinations_by_month = destinations_ewr.groupby('month').agg({'flight': 'count'})

print(destinations_by_month.sort_values(by = 'flight', ascending = False))

       flight
month
5        9931
4        9818
7        9765
8        9727
3        9669
10       9657
6        9490
12       9411
11       9277
1        9246
9        8994
2        8400